body{
    padding: 100px;
}

#login-area{
    padding: 10rem;
}

.submit-area{
    border: 2px solid rgb(230, 226, 226);
    margin-top: 5rem;
    border-radius: 6px;
    padding: 2rem;
    box-shadow: 2px 4px 8px rgb(224, 223, 223);
}

#transaction-area{
    display: none;
}
.Deposit{
    background-color: red;
}
.withdrow{
    background-color: green;
}
.Balance{
    background-color: blue;
}
.status{
    padding: 1rem;
    margin: 0 .5rem;
    border-radius: 1rem;
    color: #fff;
}